{% extends 'base.html' %}
{% block content %}
    <form method="POST">
    {% csrf_token %}
    <p>Resetezi parola?</p>
    {% if validlink %}
        <label for="id_new_password1">New Password</label>
        <input name="new_password1" id="id_new_password1" class="form-control" type="password">
        {% if form.new_password1.errors %} <span style="color: red">{{ form.new_password1.errors }}</span> {% endif %}
        <label for="id_new_password2">Confirm Password</label>
        <input name="new_password2" id="id_new_password2" class="form-control" type="password">
        {% if form.new_password2.errors %} <span style="color: red">{{ form.new_password2.errors }}</span> {% endif %}
        <button type="submit" class="btn btn-primary">Salveaza Parola</button>
    {% else %}
        <p>Link nu este valid</p>
    {% endif %}
    </form>
{% endblock %}